.app {
    height: 100%;
    overflow: hidden;
    padding-top: 25px;
    text-align: center;
    width: 100%;
}

body, html {
    background-color: #373a40;
    color: #ffdd93;
    font-family: 'Special Elite', cursive;
    height: 100vh;
    line-height: 150%;
    margin: 0;
    width: 100vw;
}

.title {
    font-size: 4rem;
    width: 100%;
}

.cardContainer {
    margin: 0 auto;
    width: 66%;
}

.cardName {
    font-size: 3rem;
}

.cardImg {
    height: 314px;
    width: 226px;
}

.cardRules {
    margin: 0 auto;
    width: 50%;
}

.cardRules h4 {
    font-size: 2rem;
    margin-bottom: 16px;
}

.cardRules p {
    font-size: 1.25rem;
    padding: 16px;
}

.nextCard {
    background-color: #ffdd93;
    border: 1px solid #ffae00;
    border-radius: 5px;
    color: #373a40;
    font-size: 1.5rem;
    padding: 16px 32px;
}

.nextCard:hover {
    background-color: #ffae00;
    color: #17191c;
}